{% extends 'base.html' %}
{% block title %} JsonPlaceHolder - Usuários {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2>Usuários</h2>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <div class="d-flex gap-5">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createUser">
                        Novo usuário
                    </button>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteUser">
                        Deletar usuário
                    </button>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#updateUser">
                        Atualizar usuário
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Username</td>
                    <td>Email</td>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }} </td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createUser" tabindex="-1" aria-labelledby="createUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserLabel">Criar usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome do usuário:</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <label for="username" class="form-label">Username do usuário:</label>
                        <input type="text" class="form-control" id="username" name="username">
                        <label for="email" class="form-label">E-mail do usuário:</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="DELETE">
                    <div class="mb-3">
                        <label for="id_user_delete" class="form-label">ID do usuário:</label>
                        <input type="text" class="form-control" id="id_user_delete" name="id_user_delete">
                    </div>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateUser" tabindex="-1" aria-labelledby="updateUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserLabel">Atualizar usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="PUT">
                    <div class="mb-3">
                        <label for="id_user_change" class="form-label">Id do usuário:</label>
                        <input type="text" class="form-control" id="id_user_update" name="id_user_update">
                        <label for="name" class="form-label">Nome do usuário:</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <label for="username" class="form-label">Username do usuário:</label>
                        <input type="text" class="form-control" id="username" name="username">
                        <label for="email" class="form-label">E-mail do usuário:</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}